Bottleneck==1.3.2
certifi==2021.10.8
click==8.0.3
Flask @ file:///tmp/build/80754af9/flask_1634118196080/work
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1620734326877/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
numexpr @ file:///tmp/build/80754af9/numexpr_1618856167419/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
pandas==1.3.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
pyzbar @ file:///home/conda/feedstock_root/build_artifacts/pyzbar_1629133033434/work/dist
scipy @ file:///tmp/build/80754af9/scipy_1630606796110/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
